## Deliverable 2. Create a Customer Travel Destinations Map.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [22]:
# 1. Import the WeatherPy_database.csv file.
city_data_df= pd.read_csv('../Weather_Database/WeatherPy_Database.csv')
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,79.34,25,14.14,PF,scattered clouds
1,1,Airai,TL,-8.9266,125.4092,69.80,100,1.74,TL,overcast clouds
2,2,Narsaq,GL,60.9167,-46.0500,17.82,88,8.77,GL,overcast clouds
3,3,Wagar,SD,16.1525,36.2032,70.05,0,12.64,SD,clear sky
4,4,Contamana,PE,-7.3333,-75.0167,72.81,38,1.52,PE,scattered clouds

In [25]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preffered_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <=max_temp) & (city_data_df['Max Temp']>min_temp)]
preffered_cities_df

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,79.34,25,14.14,PF,scattered clouds
3,3,Wagar,SD,16.1525,36.2032,70.05,0,12.64,SD,clear sky
4,4,Contamana,PE,-7.3333,-75.0167,72.81,38,1.52,PE,scattered clouds
5,5,Bengkulu,ID,-3.8004,102.2655,78.87,99,2.80,ID,overcast clouds
6,6,Kapaa,US,22.0752,-159.3190,80.58,75,4.61,US,broken clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Buritis,BR,-15.6178,-46.4233,70.32,100,1.59,BR,overcast clouds
674,674,Cabedelo,BR,-6.9811,-34.8339,81.27,18,10.65,BR,few clouds
676,676,Adela,PH,12.4416,120.9729,88.34,59,3.69,PH,broken clouds
677,677,Gunjur,GM,13.2019,-16.7339,75.27,0,6.91,GM,clear sky
679,679,Galesong,ID,-5.3166,119.3661,80.62,100,7.96,ID,moderate rain

In [27]:
# 4a. Determine if there are any empty rows.
preffered_cities_df.count()

City ID                221
City                   221
Country                220
Lat                    221
Lng                    221
Max Temp               221
Humidity               221
Cloudiness             221
Wind Speed             220
Current Description    221
dtype: int64

In [43]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preffered_cities_df.dropna()
clean_df.count()

City ID                220
City                   220
Country                220
Lat                    220
Lng                    220
Max Temp               220
Humidity               220
Cloudiness             220
Wind Speed             220
Current Description    220
dtype: int64

In [44]:
clean_df

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,79.34,25,14.14,PF,scattered clouds
3,3,Wagar,SD,16.1525,36.2032,70.05,0,12.64,SD,clear sky
4,4,Contamana,PE,-7.3333,-75.0167,72.81,38,1.52,PE,scattered clouds
5,5,Bengkulu,ID,-3.8004,102.2655,78.87,99,2.80,ID,overcast clouds
6,6,Kapaa,US,22.0752,-159.3190,80.58,75,4.61,US,broken clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Buritis,BR,-15.6178,-46.4233,70.32,100,1.59,BR,overcast clouds
674,674,Cabedelo,BR,-6.9811,-34.8339,81.27,18,10.65,BR,few clouds
676,676,Adela,PH,12.4416,120.9729,88.34,59,3.69,PH,broken clouds
677,677,Gunjur,GM,13.2019,-16.7339,75.27,0,6.91,GM,clear sky
679,679,Galesong,ID,-5.3166,119.3661,80.62,100,7.96,ID,moderate rain

In [45]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,79.34,scattered clouds,-23.1203,-134.9692,
3,Wagar,SD,70.05,clear sky,16.1525,36.2032,
4,Contamana,PE,72.81,scattered clouds,-7.3333,-75.0167,
5,Bengkulu,ID,78.87,overcast clouds,-3.8004,102.2655,
6,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,
7,Oranjestad,AW,78.75,few clouds,12.5240,-70.0270,
16,Georgetown,MY,80.53,moderate rain,5.4112,100.3354,
18,Buchanan,LR,76.96,scattered clouds,5.8808,-10.0467,
21,Butaritari,KI,82.11,few clouds,3.0707,172.7902,
23,Meulaboh,ID,79.14,broken clouds,4.1363,96.1285,

In [46]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat= row['Lat']
    lng=row['Lng']
    
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url, params=params ).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name']=hotels['results'][0]['name']
    except(IndexError):
        print('Hotel not found...Skipping')

Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping
Hotel not found...Skipping

In [48]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,79.34,scattered clouds,-23.1203,-134.9692,People ThankYou
3,Wagar,SD,70.05,clear sky,16.1525,36.2032,
4,Contamana,PE,72.81,scattered clouds,-7.3333,-75.0167,Shiringal Touristic Park
5,Bengkulu,ID,78.87,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
6,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
671,Buritis,BR,70.32,overcast clouds,-15.6178,-46.4233,Hotel Rainha do Vale
674,Cabedelo,BR,81.27,few clouds,-6.9811,-34.8339,Hotel Pigalle
676,Adela,PH,88.34,broken clouds,12.4416,120.9729,De Kack's Private Resort
677,Gunjur,GM,75.27,clear sky,13.2019,-16.7339,Dalaba Eco-Lodge Gambia
679,Galesong,ID,80.62,moderate rain,-5.3166,119.3661,Sapriadi Appy

In [49]:
hotel_df.count()

City                   220
Country                220
Max Temp               220
Current Description    220
Lat                    220
Lng                    220
Hotel Name             220
dtype: int64

In [51]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   220
Country                220
Max Temp               220
Current Description    220
Lat                    220
Lng                    220
Hotel Name             220
dtype: int64

In [53]:
# 8a. Create the output File (CSV)
output_data_file= 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [54]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [57]:
# 11a. Add a marker layer for each city to the map. 
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))